$yellowRectangleColor: #AFB60A;
$redRectangleColor: #A51A36;
$headerColor: #424414;
$backgroundUrl: './../assets/img/grass.jpg';
$greenRectangleColor: #22A111;
$primaryRectangleColor: #0AA033;
$secondaryRectangleColor: #18A1AB;
$primaryFontColor: #FFFCFF;